.landing-container {
    width: 100%;
    height: 100%;
    background-image: url("../assets/background.svg");
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #121212;
}

.landing-content {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-content h1 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;

    text-align: center;
    color: rgba(255,255,255,0.87);
}

.landing-content h1.landing-title {
    margin-bottom: 80px;
}

.landing-content section {
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
}

.landing-content section p {
    width: 540px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: left;
    color: rgba(255,255,255,0.6);
}

.landing-content p.third-content {
    width: 1036px;
    margin-bottom: 100px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    text-align: center;
    color: rgba(255,255,255,0.6);
}

.landing-content h2 {
    width: 764px;
    margin-bottom: 80px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    text-align: center;
    color: rgba(255,255,255,0.87);
}

.landing-content section.fourth-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.landing-content h4 {
    width: 764px;
    margin-top: 100px;
    margin-bottom: 100px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;

    text-align: center;
    color: rgba(255,255,255,0.87);
}

/* Footer */
footer.landing-footer {
    width: 100%;
    height: 324px;

    background: #7F39FB;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-footer h3 {
    margin-bottom: 56px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    text-align: center;
    color: rgba(255,255,255,0.87);
}

.landing-footer p,
.landing-footer a {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.landing-footer a {
    color: rgba(255,255,255,0.87);
}

.landing-footer a:hover {
    cursor: pointer;
}

/* Responsivity */
@media (min-width: 576px) {
    .landing-content img {
        display: none;
    }

    .landing-content p.third-content {
        width: 470px;
    }

    .landing-content section.fourth-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .landing-content h2 {
        width: 530px;
    }

    .landing-content h4 {
        width: 620px;
    }
}

@media (min-width: 1200px) {
    .landing-content img {
        display: block;
    }

    .landing-content p.third-content {
        width: 1036px;
    }

    .landing-content section.fourth-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .landing-content h2 {
        width: 764px;
    }

    .landing-content h4 {
        width: 764px;
    }

    .landing-content section {
        gap: 80px;
    }
}

@media (min-width: 1368px) {
    .landing-content section {
        gap: 250px;
    }
}